.favorite {
	color: red;
}
.resultresize {
	height: 300px;
	width: 220px;

}

.picresult {
	height: 300px;
	width: 300px;
}
.favoritesize {
	height: 400px;
}

.max-lines {
	display: block; /* or inline-block */
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 8.6em;
	line-height: 1.8em;
}
.resizebreed {
  width: 100%;
  height: auto;
}
#pawbrand {
	margin-top: 12px;
  margin-right: 30px;
}

.container {
    background: url(crossword.png) no-repeat center center;
}

#map {
height: 400px;
width: 100%;
}
.window-content {
color: #04162b;
width: 150px;
}

.favoritebox {
	  background-color: lightgrey;
    width: 100%;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

.dogbybreedbox {
	  background-color: lightgrey;
    width: 320px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    height: 320px;
}
