.favorite {
	color: red;
}
#resize {
  width: 75%;
  height: auto;

}
.max-lines {
display: block; /* or inline-block */
text-overflow: ellipsis;
word-wrap: break-word;
overflow: hidden;
max-height: 3.6em;
line-height: 1.8em;
}
#resizebreed {
  width: 150%;
  height: auto;
}
