#pawbrand {
  height: 100px;
  width: 100px;
  margin-top: 32px;
  margin-right: 90px;
  margin-left: 40px;
}
h1, h2, h3, .navbar-brand { font-family: 'PT Sans', sans-serif; 
}


.profilepage {
	font-size: 60px
}
.navtitle {
	font-size: 100px
}
.favorite {
	color: red;
}
.resultresize {
	height: 300px;
	width: 220px;

}

.text {
	font-family: 'PT Sans', sans-serif;
}

.breedpic {
	height: 300px;
	width: 300px;	
	padding: 25px;
}

.picresult {
	height: 300px;
	width: 300px;
}
.favoritesize {
	height: 400px;
}

.max-lines {
	display: block; /* or inline-block */
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 8.6em;
	line-height: 1.8em;
}
.resizebreed {
  width: 200px;
  height: 200px;
}

#map {
height: 400px;
width: 100%;
}
.window-content {
color: #04162b;
width: 150px;
}

.dogbybreedbox {
    width: 320px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    height: 320px;
}