<!doctype html>
<html>
<head>
{% block head %}
{% endblock %}

    <link rel="sytlesheet" type="text/css" href="/static/dog.css">
</head>
<body>


{% if "user_id" in session %}
    <a href="/logout">Logout</a>
{% else %}
    <a href="/login">Login</a>
{% endif %}

{% if "user_id" in session %}
	<a href="/users/1">Profile Page</a>
{% else %}
	<a href="/register">Register</a>
{% endif %}
<hr>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}

{% endblock %}

</body>
</html>