<!doctype html>
<html>
<head>
<title>Pawst & Found</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"rel="stylesheet"><link href ="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css"rel="stylesheet">
<link rel="icon" href="/static/img/pawheart.png" type="image/png" sizes="20x20">
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <style>

        </style>
<link rel="stylesheet" type="text/css" href="/static/dogs.css">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button><!-- 
      <a class="navbar-brand" href="/static/img/pawheart.png"></a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><img id="pawbrand" alt="Brand" src="/static/img/pawheart.png"></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <h1 class="navtitle">   Pawst&Found</h1>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://localhost:5000/users/1">Profile Page</a></li>
        <li><a href="http://localhost:5000/">Homepage</a></li> 
        <li class="active"><a href="http://localhost:5000/login">Login<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="http://localhost:5000/register">Register<span class="sr-only">(current)</span></a></li>

        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a> -->
          <!-- <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul> -->
        <!-- </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand">
      </a>
    </div>
  </div>
</nav> -->
</head>
<body>


<!-- {% if "user_id" in session %}
    <a href="/logout">Logout</a>
{% else %}
    <a href="/login">Login</a>
{% endif %}

{% if "user_id" in session %}
	<a href="/users/1">Profile Page</a>
{% else %}
	<a href="/register">Register</a>
{% endif %}
<hr>
 -->
  {% for message in get_flashed_messages() %}
    <li>{{ message }}<li>
  {% endfor %}

{% block content %}

{% endblock %}

</body>
</html>