{% extends 'base.html' %}
{% block content %}

<head>
	<title>Breed Description</title>
</head>
<body>
  <div class="container" >
  <div class="row">
    
  <div class="col-xs-offset-4">
	 <div class="resizebreed">
    	<img src="{{ breed.img_url }}" alt="{{ breed.breed }}"><br>
    </div>
    </div>

    <div class="row">
    <div class="col-xs-offset-1">
      {{ breed.description }}
<h3>Boxer Dog Temperament:</h3>

The boxer is playful, exuberant, inquisitive, attentive, demonstrative, devoted and outgoing; he is a perfect companion for an active family. He can be stubborn, but he is sensitive and responsive to commands. He is generally good with other household dogs and pets.


<h3>Boxer Dog Care:</h3>

The boxer needs daily mental and physical exertion. He likes to run, but his exercise needs can also be met with a good jog or a long walk on leash. He does not do well in hot weather and is generally unsuited to living outdoors. He does best when allowed to divide his time between a house and yard. Some snore. His coat needs only occasional brushing to remove dead hair.

<h3>Boxer Dog Health:</h3>

Major concerns: cardiomyopathy, SAS, CHD 
Minor concerns: gastric torsion, tumors, intervertebral disc degeneration, corneal erosion, colitis
Occasionally seen: none
Suggested tests: cardiac, hip
Life span: 8-10 years
Note: sensitive to heat and anesthesia; white boxers may be deaf. <form action="/dogbybreed" method="GET">
    <select name="breed">
        <option value = "{{ breed.breed }}">{{ breed.breed }}</option>
    </select>
      <input type="submit" value="Submit">
   </form>

     </div>
   </div>



      <div class="row">
    <div class="col-xs-4">

     
    </div>

    <div class="col-xs-8">
   <a href="https://en.wikipedia.org/wiki/Boxer_(dog)">More Information About Boxers</a>
</div>
  </div>

</div>
</div>
</body>


{% endblock %}