{% extends 'base.html' %}
{% block content %}

<head>
	<title>Breed Description</title>
</head>
<body>
  <div class="container-fluid">
  <div class="row">
  <div class="col-sm-2">
	 <div id="resizebreed ">
    	<img src="{{ breed.img_url }}" alt="{{ breed.breed }}">
    	{{ breed.description }}
   	</div>
  <form action="/dogbybreed" method="GET">
		<select name="breed">
      	<option value = "{{ breed.breed }}">{{ breed.breed }}</option>

   	</select>
   		<input type="submit" value="Submit">
   </form>
  <form action="/">
    <input type="submit" value="Homepage">
  </form>
</div>
</div>
</div>
</body>


{% endblock %}