{% extends 'base.html' %}
{% block content %}
<head>
	<title>Dog by breed</title>
</head>
	<h1>List of shelters with {{ breed }}</h1>
<body>
  <div class="container">
<div class="row">
<div id="map"></div>
</div>
</div>

  <div class="container">
    <div class="row">
       <h1>Animals by shelter id</h1>
        <form action="/shelterpets" method="GET">
          <input type="text" name="shelterid">
          <input type="submit">     
        </form>
     </div>
    </div>

  <div class="container">
    <div class="row">
      {% set count = 0 %}
      {% if count % 3 == 0 %}
	     {% for shelter_obj in shelter_breed_list %}

         <div class="col-sm-4">
          Name: {{ shelter_obj['name'] }} <br>
      		Shelter Id: {{ shelter_obj['id'] }}<br>
      		Address: {{ shelter_obj['address1'] }} <br>
      		{{ shelter_obj['address2'] }} 
      		{{ shelter_obj['city'] }} 
      		{{ shelter_obj['state'] }} 
      		{{ shelter_obj['zip'] }}
      		{{ shelter_obj['country'] }} <br>
      		Phone: {{ shelter_obj['phone'] }} <br>
      		Email: {{ shelter_obj['email'] }} <br>
          <br>

        </div>
        {% set count = count + 1 %}

    	{% endfor %}
      {% endif %}
    
   
    </div>
  </div>

        {% for shelter_obj in shelter_breed_list %}




      <div class="latlng" data-lat="{{ shelter_obj['latitude'] }}"data-lng="{{ shelter_obj['longitude'] }}">
      </div>
        
                

      
     {% endfor %}
   

    
    <script src="https://code.jquery.com/jquery.js"></script>
          <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXLQWeh2IN4-OgsSMoQYUIxURAgOUO5m4&callback=initMap">
    </script>

    <script>
    "use strict";
      function initMap() {
        var shelterList = {{ shelter_breed_list_json|safe }};
        console.log(shelterList);

        var sf = {lat: 37.7749, lng: -122.4194};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: sf
        });
        // var marker = new google.maps.Marker({
        //   position: sf,
        //   map: map
        // });

        var infoWindow = new google.maps.InfoWindow({
            width: 150
        });

        var shelter, marker, html;

        for (var key in shelterList) {
            shelter = shelterList[key];
            console.log(shelterList[key]);

            marker = new google.maps.Marker({
              position: new google.maps.LatLng(shelter.latitude, shelter.longitude),
              map: map,
              title: 'Shelter Info: ' + shelter.shelter_id,
              icon: '/static/img/shelter.png'
            });

            html = (
              '<div class="window-content>' +
                '<img src="/static/img/shelter.png" alt="shelter" style="width:150px;" class="thumbnail">' +
                '<p><b>Shelter ID: <b>' + shelter.id + '</p>' +
                '<p><b>Shelter Zipcode: <b>' + shelter.zip + '</p>' +
                '<p><b>Shelter Phone: <b>' + shelter.phone + '</p>' +
                '<p><b>Shelter Email: <b>' + shelter.email + '</p>' +
              '</div>');

            bindInfoWindow(marker, map, infoWindow, html);

          }

      };

      function bindInfoWindow(marker, map, infoWindow, html) {
        google.maps.event.addListener(marker, 'click', function () {
          infoWindow.close();
          infoWindow.setContent(html);
          infoWindow.open(map, marker);
        });
      }
    

    google.maps.event.addDomListener(window, 'load', initMap);


        
    </script>


{% endblock %}