{% extends 'base.html' %}
{% block content %}

<!DOCTYPE HTML>		
<html>
<head>
	<h1>Search for a dog</h1>
</head>
<body>
	<form action="/results" method="GET">
	  Location <input type="text" name="location">
	  Age 
	  <select name="age">
	  	<option value="Baby">Baby</option>
	  	<option value="Young">Young</option>
	  	<option value="Adult">Adult</option>
	  	<option value="Senior">Senior</option>
		</select>
		Gender
		<select name="sex">
	  	<option value="M">Male</option>
	  	<option value="F">Female</option>
		</select>
		Breed
		<select name="breed">
			{% for breed in breed_list %}
      	<option value = "{{ breed }}">{{ breed }}</option>
    		{% endfor %}
   		</select>
   		Count 
   		<input type="checkbox" name="count" value="5"> 5<br>
   		<input type="checkbox" name="count" value="10"> 10<br>
   		<input type="checkbox" name="count" value="25"> 25<br>
		<input type="submit" value="Submit">
	</form>

	<h1>Random dog</h1>
	<form action="/randomresult" method="GET">
		Location <input type="text" name="location">
	  Age 
	  <select name="age">
	  	<option value="Baby">Baby</option>
	  	<option value="Young">Young</option>
	  	<option value="Adult">Adult</option>
	  	<option value="Senior">Senior</option>
		</select>
		Gender
		<select name="sex">
	  	<option value="M">Male</option>
	  	<option value="F">Female</option>
	  </select>
	  	<input type="submit" value="Submit">
	</form>

	<h1>Dog by breed</h1>
	<form action="/dogbybreed" method="GET">
		<select name="breed">
			{% for breed in breed_list %}
      	<option value = "{{ breed }}">{{ breed }}</option>
    		{% endfor %}
   	</select>
   		<input type="submit" value="Submit">
   </form>

   

</body>
</html>

{% endblock %}