{% extends 'base.html' %}
{% block content %}

<html>
<head>
	<title>Profile Page</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">

      	<form action="/">
          First name:<br>
          <input type="text" name="firstname" value="{{ user.first_name }}"><br>
          Last name:<br>
          <input type="text" name="lastname" value="{{ user.last_name }}"><br>
          Email: <br>
          <input type="text" name="email" value="{{ user.email }}"><br>
          Phone number: <br>
          <input type="text" name="phone_number" value="{{ user.phone_number }}"><br>
          Zipcode:<br>
          <input type="text" name="zip_code" value="{{ user.zip_code }}"><br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% set count = 0 %}
      {% if count % 3 == 0 %}
        {% for dog in dogs %}
          <div class="col-sm-4">

          <img src={{ dog.img_url }}>
        </br>
          Name: {{ dog.name }}
          Shelter ID: {{ dog.shelter_id }}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

</body>
</html>

{% endblock %}