<html>
<head>
	<title>Profile Page</title>
</head>
<body>
	<form action="/">
  First name:<br>
  <input type="text" name="firstname" value="{{ user.first_name }}"><br>
  Last name:<br>
  <input type="text" name="lastname" value="{{ user.last_name }}"><br>
  Email: <br>
  <input type="text" name="email" value="{{ user.email }}"><br>
  Phone number: <br>
  <input type="text" name="phone_number" value="{{ user.phone_number }}"><br>
  Zipcode:<br>
  <input type="text" name="zip_code" value="{{ user.zip_code }}"><br>
  <input type="submit" value="Submit">
</form>
  {% for dog in dogs %}
    
    <img src={{ dog.img_url }}>
    {{ dog.petfinder_id }}
    {{ dog.age }}
  {%endfor%}

</body>
</html>