<!DOCTYPE HTML>     
<html>
<head>
    <h1>Register</h1>

</head>
    <body>


<form action="/register-success" method="POST">

    <div>
        <label>
            Email
            <input type="email" name="email">
        </label>
    </div>

    <div>
        <label>
            Password
            <input type="password" name="password">
        </label>
    </div>

    <div>
        <label>
            First name
            <input type="text" name="first_name">
        </label>
    </div>

    <div>
        <label>
            Last name
            <input type="text" name="last_name">
        </label>
    </div>

    <div>
        <label>
            Zipcode
            <input type="text" name="zip_code">
        </label>
    </div>

    <div>
    	<label>
    		Phone Number
    		<input type="number" name="phone_number">
    <div>
        <input type="submit" value="Register">
    </div>

</form>
</body>
</html>