      <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>

      function initMap() {
        var myLatLng = {lat: {{latitude}}, lng: {{longitude }} }
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: myLatLng
        });
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXLQWeh2IN4-OgsSMoQYUIxURAgOUO5m4&callback=initMap">
          
var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    icon: iconBase + 'parking_lot_maps.png'
  });

  ['petfinder']['pets']['pet'][0]['media']['photos']['photo'][0]['#text'] = u'http://photos.petfinder.com/photos/pets/38626294/1/?bust=1498794396&width=60&-pnt.jpg'

  ['petfinder']['pets']['pet'][0]['media']['photos']['photo'][0]['#text'] = u'http://photos.petfinder.com/photos/pets/<id>/<@id>/?bust=<bust>&width=60&-pnt.jpg'

  <img src="{{ animal_obj['media']['photos']['photo'][3]['#text'] }}">