<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
        <script src="https://code.jquery.com/jquery.js"></script>

    <script>
    "use strict";
      function initMap() {
        var sf = {lat: 37.7749, lng: -122.4194};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: sf
        });
        var marker = new google.maps.Marker({
          position: sf,
          map: map
        });
      $.get('/shelters/map.json', function (shelters){
        console.log(shelters);
      
        console.log(shelters);
        var shelter, marker;

        for (var key in shelters) {
          shelter = shelters[key];

          marker = new google.maps.Marker({
            position: new google.maps.LatLng(shelter.latitude, shelter.longitude),
            map: map,
            title: 'Shelter ID: ' + shelter.shelter_id,
            //some house icon
          });

        };

      });

    };



    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXLQWeh2IN4-OgsSMoQYUIxURAgOUO5m4&callback=initMap">
    </script>
  </body>
</html>